*{
  padding: 0;
  margin: 0;
}

ul{
  list-style: none;
}
.todo-container{
  width: 500px;
  border: 1px solid #333333;
  border-radius: 6px;
  margin: 20px auto;
  overflow: hidden;
}

.todo-header{
  input[type=text]{
    border: none;
    width: 100px;
    outline: none;
    padding: 10px;
  }

  li{
    border: 1px solid #888888;
  }

}

.todo-box{
  border: 1px solid #888888;

  li{
    border-bottom: 1px solid #888888;
  }

  .todo-item-body{
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .todo-item-editor{
    input{
      border: none;
      width: 100%;
      padding: 10px;
      outline: none;
    }
  }
}

//.idDone{
//  text-decoration: line-through;
//} 低级错误
.isDone{
  text-decoration: line-through;
}

.todo-bottom{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}